.avatar {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 142px;
  margin: 0;
  border-radius: 6px;
  box-shadow: 0 0 6px rgb(255, 255, 255);

  img {
    transform: rotate(45deg) scale(1.5);
  }
}