* {
  box-sizing: border-box;
}

body {
  background-color: rgb(83, 90, 105);
  background-color: rgb(45, 48, 59);
  color: $text_color;
  font-family: Georgia, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 450%;
  letter-spacing: -0.02em;
}

h2 {
  line-height: 1;
}

h3 {
  font-size: 120%;
  line-height: 1;
}

time {
  color: $accent_color_light;
  display: block;
  font-weight: bold;
}