/**********************
 header
**********************/

header[role="banner"] {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  padding: 0.2 * $base_spacing 0;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 4px 4px $shadow_color_light;
  border-bottom: solid 1px #d6d6d6;
  text-align: center;
  
  transition: .5s ease-in-out opacity;

  &#fixed-nav {
    opacity: 1;
  }

  button#menu {
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
    background: none;
    text-align: left;
    padding-top: 0.25em;
    padding-left: 0.65em;
    padding-right: 0.65em;
    border: solid 1px #a6a6a6;
    border-radius: 4px;
    font-family: arial, sans-serif;
    font-size: 85%;
  }
  button#menu:focus {
    background-color: rgb(220, 220, 220);
  }
  button#menu:hover {
    background-color: rgb(244, 244, 244);
  }

  .crest {
    color: $crest_color;
    font-size: 160%;
    font-weight: bold;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
  }
  .crest-amp {
    color: $crest_ampersand;
    margin-left: 0.1em;
    margin-right: 0.1em;
    opacity: 0.99; /* change stacking order so that & goes behind 'S' */
  }

  .tk-penna .crest-amp {
    transform: rotate(-14deg);
    display: inline-block; /* Allow rotate */
  } 

  /*overflow: hidden; / * Needs to be visible on scroll, if scroll effect is supported * /
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  
  margin: 0;
  padding: 0;
  text-align: center;

  display: flex;*/

  /*h1 {
    position: absolute;
    width: 100%;
    bottom: 60px;
    top: auto;
    z-index: 10;
    font-size: 6em;
    margin: auto;
    color: $title_text_color;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    opacity: 0;
    line-height: 1;

    animation-name: fadein;
    animation-duration: 2.2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    em {
      font-style: normal;
      font-size: 85%;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    max-width: initial;
    -webkit-transform-origin: 50% 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  }*/
}

@media all and (orientation: portrait) {
  h1 > em {
    display: block;
    font-size: 1em;
    line-height: 0.4;
  }
}

@media all and (min-width: 56em) {
  /*header[role="banner"] {
    display: block;
    margin-left: auto;
    margin-right: auto;

    h1 {
      position: absolute;
      top: 70%;
      left: 50%;
      z-index: 10;
      font-size: 8em;
      width: 100%;
      margin-bottom: $base_spacing;
      
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);

      em {
        display: inline;
      }
    }

    img {
      top: 0;
      -webkit-transform-origin: 50% 0;
      -webkit-transform: translate3d(-50%, -50%, 0) scale(1.35);

      transform-origin: 50% 0;
      transform: translate3d(-50%, -50%, 0) scale(1.35);
    }
  }*/
}