/**********************
 where, when
**********************/
main[role="main"] {
  width: 100%;
  margin: 0 auto;

  > section:nth-child(even) {
    background-color: $section_bg_color;
  }

  > section {
    color: $content_text_color;
    font-family: Georgia, serif;
    padding-top: $vertical_gutter;
    padding-bottom: $vertical_gutter;
    padding-left: 2 * $base_spacing;
    padding-right: 2 * $base_spacing;

    header,
    .section-content {
      margin: auto;
      max-width: 900px;  
    }

    header {
      display: flex;
      flex-direction: column;
    }

    .section-title {
      flex: 1;
      order: 2;
    }

    .avatar {
      flex: 1;
      order: 1;
      margin: 16px auto 48px;
    }

    .section-title {
      color: $accent_color;
      font-size: 200%;
      text-shadow: 0 1px 2px rgba(15, 15, 15, 0.8);
      
      &.tk-le-havre {
        font-size: 350%;
      }
    }
    
    header > p {
      margin: 0;
      padding: 0;
    }

    p {
      margin-bottom: 0;
    }

    > div > * + h3 {
      margin-top: 3 * $base_spacing;
    }

    ul.list {
     list-style-type: circle;
     margin-left: 15px;
     padding-left: 15px;

     * + * {
      margin-top: 0.5em;
     }
    }

    p,
    ul.list {
      font-size: 110%;
      line-height: 1.6;
    }

    a {
      color: $link_color;
      border-bottom: solid 1px $link_color;
      padding: 0.1em 0.2em;
      text-decoration: none;
    }
    a:visited {
      color: $link_color_visited;
      border-bottom-color: $link_color_visited;
    }
    a:focus {
      color: $link_color_focus;
    }
    a:hover {
      background-color: $link_color;
      color: rgb(255, 255, 255);
      border-radius: 3px;
      transition: background-color 0.4s, border-color 0.4s
    }
  }
}

@media all and (min-width: 56em) {
  main[role="main"] {

    > section {

        header {
          display: block;
        }

      .avatar {
        float: right;
        margin: -1em 0 1em 2em;
      }
    }
  }
}