/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: darken($principal_bg_color, 5%); /* TODO make rgba */
  z-index: 100;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  outline: none;
  background: url(../images/cross.png) center center no-repeat;
  text-indent: 200%;
  color: transparent;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 75%;
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 125%;
  font-weight: normal;
  display: block;
  color: #fff;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0;
}

/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);  
  transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

nav.grid {
  ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;

    li {
      flex: 0 0 26%;

      a {
        height: 100%;
        text-decoration: none;
        border: solid 1px #ccc;
        border-radius: 3px;
        padding: 0.2em;
        display: flex;
      
        &:hover {
          background-color: $link_color_hover;
          transition: background-color 0.4s;
        }

        &:focus {
          background-color: $link_color_focus;
        }

        b {
          margin: auto;
          font-weight: normal;
        }
      }
    }
  }
}