section.window-shade {
  padding: 0;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column; 
      -ms-flex-direction: column; 
          flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;

  h1 > em {
    font-style: normal;
    display: block;
  }

  &:nth-of-type(2) {
    background-image: url(../images/view-from-3-brethern.jpg);
    background-position: 60% 50%;
  }
  
  &:nth-of-type(4) { 
    position: relative;
    background-image: url(../images/specs.jpg);
    background-position: 20% 50%;
    /*background:
      url(../images/specs.jpg) 20% 50% no-repeat,
      url(../images/specs.jpg) 80% 50% no-repeat;*/
  }

  &.light-foreground-text {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  }

  &.animate-background {
    animation-name: animatebackground;
    animation-duration: 2.4s;
    animation-timing-function: linear;
    animation-iteration-count: 8;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
  }
}

section.window-shade:nth-child(2) {
  background-color: rgb(200, 190, 255);
}

@media all and (min-width: 56em) {
  section.window-shade {
    background-attachment: fixed;
    
    &:nth-of-type(4) { 
      /*background-image: url(/images/specs.jpg);*/
      background-position: 48% 50%;
    }

    h1 {
      font-size: 600%;
    }
  }
}