* {
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 16, 4);
  background-color: rgb(174, 139, 110);
  background-color: rgba(215, 185, 166, 0.3);
/*  background: url(../images/craft-paper.jpg) repeat rgba(180, 143, 113, 1);*/
}

header {
}

header > .img-container {
  position: relative;
  max-width: 800px;
  max-height: 500px;
  overflow: hidden;
  margin: 3em auto 1em;
}

header > .img-container > img {
  /*position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  max-width: initial;*/
  transform-origin: 0 -250px;
  transform: translate3d(-33.5%, -39.7%, 0) scale(1);
  /*transform: translate3d(0, 0, 0) scale(0.33);*/

  -webkit-animation-name: zoomout;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
}

nav {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75em;
  width: 92%;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav a {
  font-size: 150%;
  display: block;
  background-color: transparent;
  color: rgb(255, 255, 255);
  color: rgb(105, 105, 105);
  text-decoration: none;
  padding: 0 0.625em;
  border-radius: 0.75em;
}

nav a:hover {
  text-decoration: none;
  background-color: rgba(235, 235, 235, 0.1);
  color: rgb(255, 255, 255);
}


@-webkit-keyframes zoomout {
  from { transform: translate3d(-33.5%, -39.7%, 0) scale(1); }
  to   { transform: translate3d(0, 0, 0) scale(0.33); }
}